/* ResetPassword.css */

/* Container styling */
.reset-password-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styling */
.reset-password-form {
  margin-top: 20px;
}

.reset-password-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.reset-password-form input[type="email"],
.reset-password-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.password-container {
  position: relative;
}

.password_input {
  width: calc(100% - 40px); /* Adjusted for the icon width */
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.password_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

.reset-password-form button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.reset-password-form button:hover {
  background-color: #0056b3;
}
